body { 
	background: gray;
	font-family: 'Helvetica New', sans-serif;
	padding: 0 auto;
}

h1{
	color: white;
	font-size: 30px;
	text-align: center;
}

p{
	color: white;
	font-size: 25px;
}


form input{
	display: block;
	margin: auto;
}

h3{
	color: purple;
	font-size: 15px;
	text-align: center;
}

label{
	margin: auto;
}